<div *ngIf="wishes.length === 0; else showItems">
  <!--if the condution is true the text htat inside the div will showen-->
  there are no wisher to desplay
</div>
<!-- <ng-template #noItems>
    there are no wisher to desplay
  </ng-template> -->
<ng-template #showItems>
  <ul class="wish-list">
    <app-wish-list-item
    *ngFor="let wish of wishes"
    [wishText]="wish.wishText"
    [(fullfilled)]="wish.isComplete"
    >

    </app-wish-list-item>
    <li>
      <div class="form-check">
        <label class="form-check-label">
          <input
            type="checkbox"
            class="checkbox"
            [checked]="item.isComplete"
            (click)="toggleItem(item)"
          />
          {{ item.wishText }}
        </label>
      </div>
    </li>
  </ul>
</ng-template>
