<form class="container p-5">
  <div class="mb-3">
    <label class="form-label">Your Name</label>
    <input type="text" class="form-control" [formControl]="SenderNameControl" />
  </div>
  <div class="mb-3">
    <label class="form-label">Your Email Adress</label>
    <input
      type="email"
      class="form-control"
      [formControl]="SenderEmailControl"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Message</label>
    <textarea
      rows="3"
      class="form-control"
      [formControl]="SenderMessageControl"
    >
    </textarea>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" type="submit" (click)="$event.preventDefault();submitForm()">Send Message</button>
  </div>
</form>
